/* site.css */
header, footer {
	background-color: lightgray;
	border: solid 1px black;
	font-family: 'Times New Roman', serif;
}

footer {
	padding: 10px;
	border-radius: 8px;
}

body {
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: darkgreen;
}

a{
	color: green;
}

html, body{
	padding: 0;
	margin: 0;
}

.bordered-image{
	border: solid 2px #444;
	border-radius: 2px;
}

#main {
	border: solid 1px #ccc;
	border-radius:5px;
	color: #202020;
	margin: 5px;
	padding: 10px;
}

#main label{
	font-weight: bold;
	width: 150px;
}

#main input[type=text],
#main select,
#main input[type=password],
#main textarea{
	width: 150px;
}

.simple-form input[type=submit]{
	background-color: green;
	color: white;
	border-radius: 15px;
	padding: 5px;
	margin-top: 5px;
}

.simple-form{
	padding: 2px;
	width: 300px;
	/*
	position: static;
	position: absolute;
	position: fixed;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	*/
	display: inline-block;
	vertical-align: top;
}

#results {
	padding: 2px;
	width: 600px;
	display: inline-block;
	vertical-align: top;
}

.container{
	width: 989px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
}

header nav{
	float: right;
	margin-right: 5px;
}

header nav li{
	display: inline;
	font-size: 12px;
}















